# Maven stuff
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# Java stuff (just in case)
*.class
*.jar
*.war
*.ear

hs_err_pid*

# IntelliJ stuff
.idea/
out/
.idea_modules/

*.iml
*.iws
*.ipr

